.root {
  height: 100vh;
  display: flex;
}

.sidebar {
}

.heading {
  color: #bfa975;
  margin-bottom: 50px;
}

.body {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.chart {
  height: 50vh;
  width: 80vw;
}
