.root {
  height: 100vh;
  display: flex;
  background-color: #f0f6f7ff;
}

.sidebar {
}

.heading {
  color: #bfa975;
  margin-bottom: 50px;
}

.body {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}
